:root {
    --principal-color: #FF9A6C;
    --high-color: #FF725E;
    --text-color: #263238;
    --secondary-color: rgba(255, 154, 108, 0.25);

    --whatsapp-color: #41ce4a;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: sticky;
    top: 0;

    padding: 25px 50px;
    
    background-color: var(--principal-color);

     * {
        color: white;
        text-decoration: none;
     }

    nav {
        display: flex;
        gap: 50px;

        font-size: 20px;
        font-weight: 600;

        * {
            &:hover {
                color: var(--high-color);
            }
        }
    }

    .title-header {
        font-weight: 900;
        font-size: 24px;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px 50px;
    gap: 1rem;

    h1 {
        font-size: 32px;
        font-weight: 600;

        width: 100%;
        text-align: center;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
    }

    ul {
        width: 100%;
        padding-left: 2rem;
    }

    .image-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 2rem;
    }

    .btn-area {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

.clinica-section {
    flex-direction: column-reverse;
}

.shop-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 25px 50px;
    gap: 2rem;

    background-color: var(--secondary-color);
    font-size: 2rem;

    div {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }

    .dados {        
        gap: 1rem;

        .contato {
            display: flex;
            align-items: center;
            
            text-decoration: none;
            cursor: pointer;

            img {
                width: 35px;
                margin-right: 10px;
            }
        }
    }

    .title-footer {
        font-weight: 900;
        font-size: 4rem;
        text-decoration: none;
        color: var(--high-color);
    }
}

.desenvolvido-por {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: sticky;
    bottom: 0;

    gap: 0.5rem;

    background-color: var(--text-color);
    width: 100%;
    height: auto;
    padding: 10px 25px;

    * {
        font-size: 2rem;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        min-width: 200px;
        
        img {
            width: 50px;
        }
    }

    .pipe {
        display: none;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 50%;

    padding: 2rem 3rem;
    
    border: 2px solid transparent;
    border-radius: 0.5rem;

    font-weight: 600;
    font-size: 3rem;
    
    text-decoration: none;
    cursor: pointer;

    img {
        width: 50px;
        margin-right: 20px;
    }

    &.full {
        width: 90%;
    }

    &.btn-principal {
        background-color: var(--high-color);
        color: white;

        &:hover {
            border: 2px solid var(--text-color);
        }
    }
    &.btn-secondary {
        background-color: var(--secondary-color);
        color: var(--high-color);

        &:hover {
            border: 2px solid var(--principal-color);
        }
    }
    &.btn-whatsapp {
        background-color: var(--whatsapp-color);
    }
}

@media (min-width: 1024px) {
    header {
        padding: 25px 125px;
    }

    section {
        flex-direction: row;

        padding: 25px 125px;
        
        .image-area, .text-area {
            flex: 1;
        }

        h1 {
            text-align: start;
        }

        ul {
            padding-left: 1rem;
        }

        .btn-area {
            width: 100%;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    .btn {
        min-width: 250px;
        min-height: 55px;

        font-size: 1rem;

        padding: 1rem 2rem;

        img {
            width: 20px;
            margin-right: 10px;
        }
    }

    .clinica-section {
        flex-direction: row;
        .image-area {
            flex: 0.7;
        }
    }

    .shop-section {
        h1 {
            text-align: center;
        }
        .text-area {
            max-width: 950px;
            text-align: center;
        }
    }

    .action-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn-area {
            max-width: 500px;
            justify-content: center;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;

        padding: 25px 125px;

        font-size: 1rem;

        .title-footer {
            font-size: 2rem;
        }

        .dados {
            gap: 0.5rem;
            max-width: 300px;

            .contato {
                img {
                    width: 20px;
                }
            }
        }
    }

    .desenvolvido-por {
        * {
            font-size: 0.8rem;
        }

        .redes-sociais {
            min-width: 100px;

            img {
                width: 15px;
            }
        }

        .pipe {
            display: flex;
        }
    }
}