:root {
    --principal-color: #FF9A6C;
    --secondary-color: rgba(255, 154, 108, 0.25);
    --high-color: #FF725E;

    --text-color: #263238;
    --bg-dev-color: rgba(38, 50, 56, 0.9);

    --whatsapp-color: #41ce4a;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

div.scroll-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 5px 5px;
    gap: 1rem;

    background-color: var(--secondary-color);

    span {
        font-size: 1rem;
        font-weight: 600;
        display: none;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--secondary-color);
        border-radius: 0.5rem;

        width: 30px;
        height: 30px;
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    padding: 5px 20px;

    position: sticky;
    top: 0;

    background-color: var(--principal-color);

    * {
        color: white;
        text-decoration: none;
    }

    nav {
         &.nav-desktop {
             display: none;
         }

         &.nav-mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                width: 30px;
                height: 30px;

                &:hover {
                    border-radius: 0.2rem;
                    background-color: var(--high-color);
                }

                img {
                    width: 20px;
                    height: 20px;
                }
            }
         }
    }

    .title-header {
        font-weight: 900;
        font-size: 1.5rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px 20px;
    gap: 1rem;

    h1 {
        font-size: 32px;
        font-weight: 600;

        width: 100%;
        text-align: center;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        width: 100%;
        padding-left: 1rem;
    }

    .image-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 2rem;
    }

    .btn-area {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.clinica-section {
    flex-direction: column-reverse;
}

.shop-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.faq-section {
    align-items: start;
    h4 {
        font-weight: 600;
    }
}

/* Accordin interaction */
/* <- */
.accordion > input[type="checkbox"] {
    display: none;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion label {
    display: block;
}

.accordion {
    border: 1px solid var(--principal-color);
    border-radius: 0.5rem;

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        cursor: pointer;
        background-color: var(--secondary-color);
        padding: 10px;
        border-radius: 0.4rem;

        &:hover {            
            background-color: var(--principal-color);
        }

        img {
            padding-right: 0.5rem;
        }
    }

    p {
        padding: 1rem;
        text-align: justify;
    }
}
/* -> */
/* Accordin interaction */

footer {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 20px 20px;
    gap: 1.5rem;

    background-color: var(--secondary-color);
    font-size: 1rem;

    div {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }

    .dados {
        .contato {
            display: flex;
            align-items: center;
            
            text-decoration: none;
            cursor: pointer;

            img {
                width: 20px;
                margin-right: 10px;
            }
        }
    }

    .title-footer {
        font-weight: 900;
        font-size: 2rem;
        text-decoration: none;
        color: var(--high-color);
    }
}

.desenvolvido-por {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: sticky;
    bottom: 0;

    gap: 0.5rem;

    background-color: var(--bg-dev-color);
    width: 100%;
    height: auto;
    padding: 5px 5px;

    * {
        font-size: 0.8rem;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        min-width: 100px;

        a {
            background-color: var(--bg-dev-color);
            padding: 5px;
            border-radius: 0.5rem;
        }
        
        img {
            width: 15px;
        }
    }

    .pipe {
        display: none;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;

    min-width: 250px;
    min-height: 55px;

    padding: 1rem 2rem;
    
    border: 2px solid transparent;
    border-radius: 0.5rem;

    font-weight: 600;
    font-size: 1rem;
    
    text-decoration: none;
    cursor: pointer;

    img {
        width: 20px;
        margin-right: 10px;
    }

    &.full {
        width: 90%;
    }

    &.btn-principal {
        background-color: var(--high-color);
        color: white;

        &:hover {
            border: 2px solid var(--text-color);
        }
    }
    &.btn-secondary {
        background-color: var(--secondary-color);
        color: var(--high-color);

        &:hover {
            border: 2px solid var(--principal-color);
        }
    }
    &.btn-whatsapp {
        background-color: var(--whatsapp-color);
    }
}

@media only screen and (min-width: 768px) {
    div.scroll-header {
        span {
            display: flex;
        }
    }

    header {
        nav {
            &.nav-desktop {
                display: flex;
                gap: 50px;
        
                font-size: 20px;
                font-weight: 600;
        
                * {
                    &:hover {
                        color: var(--high-color);
                    }
                }
            }
            &.nav-mobile {
                display: none;
            }
        }
    }
    
    section {
        .btn-area {
            width: 100%;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    .btn {
        min-width: 250px;
        min-height: 55px;

        img {
            width: 20px;
            margin-right: 10px;
        }
    }

    .action-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn-area {
            max-width: 500px;
            justify-content: center;
        }
    }

    .desenvolvido-por {
        padding: 5px 25px;

        * {
            font-size: 0.8rem;
        }

        .redes-sociais {
            min-width: 100px;

            img {
                width: 15px;
            }
        }

        .pipe {
            display: flex;
        }
    }
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 20px 100px;
    }

    section {
        flex-direction: row;

        padding: 25px 100px;
        
        .image-area, .text-area {
            flex: 1;
        }

        h1 {
            text-align: start;
        }

        .btn-area {
            width: 100%;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    .btn {
        min-width: 250px;
        min-height: 55px;

        font-size: 1rem;

        padding: 1rem 2rem;

        img {
            width: 20px;
            margin-right: 10px;
        }
    }

    .clinica-section {
        flex-direction: row;
        .image-area {
            flex: 0.7;
        }
    }

    .shop-section {
        h1 {
            text-align: center;
        }
        .text-area {
            max-width: 950px;
            text-align: center;
        }
    }

    .action-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn-area {
            max-width: 500px;
            justify-content: center;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;

        padding: 20px 100px;

        .dados {
            max-width: 300px;
        }
    }

    .desenvolvido-por {
        padding: 5px 25px;

        * {
            font-size: 0.8rem;
        }

        .redes-sociais {
            min-width: 100px;

            img {
                width: 15px;
            }
        }

        .pipe {
            display: flex;
        }
    }
}

@media only screen and (min-width: 1536px) {
    header {
        padding: 20px 125px;
    }

    section {
        padding: 25px 125px;
    }

    footer {
        padding: 20px 125px;
    }
}